pre {
  margin: 0 !important;
  padding-top: 22px !important;
  border-radius: 0 !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
textarea {
  font-size: 16px !important;
  padding: 29px 22px 25px 22px;
  line-height: 24px !important;
  font-family:'Courier New', Courier, monospace !important;
}